.container {
  display: flex;
  width: 80%;
  align-items: flex-end;
  height: 50vh;
  background-color: #fff;
  padding: 0 10% 2% 10%;
}

.container h1 {
  width: 75%;
  color: #323d92;
  font-weight: 500;
  font-size: 2.4em;
}

@media only screen and (max-width: 1185px) {
  .container h1 {
    font-size: 2.2em;
  }

  .container {
    height: 48vh;
  }
} 

@media only screen and (max-width: 1025px) {
  .container h1 {
    font-size: 2.1em;
  }

  .container {
    height: 45vh;
  }
} 

@media only screen and (max-width: 778px) {
  .container h1 {
    width: 100%;
    font-size: 1.7em;
  }

  .container {
    padding: 0 5% 2% 5%;
    height: 40vh;
    width: 90%;
  }
}

@media only screen and (max-width: 500px) {
  .container h1 {
    font-size: 1.4em;
  }
} 
