.container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.video-container {
  width: 68.8%;
  height: 78.1vh;
}

.video {
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 778px) {
  .video-container {
    width: 90%;
    height: 40vh;
  }
}

@media only screen and (max-width: 500px) {
  .video-container {
    height: 29vh;
  }
}